.ng-invalid.ng-touched {
    border: 2px solid red;
}
.ng-valid.ng-touched {
    border: 2px solid green;
}

.error {
    color: red;
    font-size: 12px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(1, 48, 1);
    color: white;
}

header form {
    font-size: 19px;
}

header label {
    margin-right: 10px;
}
header form button {
    background-color: white;
    color: black;
    border: 1px solid green;
}
header form input, header form button {
    padding: 5px;
    border-radius: 4px;
}
header form input {
    border: none;
    margin-right: 5px;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 18px;
  }
  header form {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  header h1 {
    font-size: 24px;
  }
  header form {
    font-size: 18px;
  }
}
